.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid silver;
}

.header__logo {
	height: 110px;
	object-fit: contain;
}

.header__icon {
	padding: 20px;
}

.header__icon:hover {
	color: black;
}
